<footer id="footer">
    <div class="container">
        <div id="footer_inner">
            <div class="full_logo">
                <img src="/images/logo.png" alt="Real One logo">
                <h3>Real One Warsaw</h3>
                <h5>Simple, beautiful and effective</h5>
            </div>
            <nav id="footer_menu">
                <p>Follow us:</p>
                <ul id="footer_m">
                    <li><a href="https://www.instagram.com/fais_uj/"><img src="/images/inst.png" alt="instagram"> </a></li>
                    <li><a href="https://twitter.com/JagiellonskiUni"><img src="/images/twitter.png" alt="twitter"> </a></li>
                    <li><a href="https://www.facebook.com/wrsswfaisuj"><img src="/images/facebook.png" alt="facebook"> </a></li>
                </ul>
            </nav>
            <h3>Contact us:</h3>
            <div id="bot_info">
                <p>Kasia<br>
                    <a href="mailto:polina@gmail.com">RealOneKasia@gmail.com</a></p>
                <p>Agnieszka<br>
                    <a href="mailto:realoneMasha@gmail.com">RealOneAgnieszka@gmail.com</a></p>
                <p>Ewa<br>
                    <a href="mailto:realoneDasha@gmail.com">RealOneEwa@gmail.com</a></p>
            </div>
            <p id="stopka">&copy2021 Real One</p>
        </div>
    </div>
</footer>