<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="logo">
                <a href="../">
                    <img src="../images/logo.png" alt="logo">
                </a>
            </div>
            <nav class="menu">
                <ul class="menu_list">
                    <li><a href="../price">Price</a></li>
                    <li><a href="../sale">Discounts</a></li>
                    <li><a href="../calories">Calculator</a></li>
                    <li><a href="../FAQ">FAQ</a></li>
                    <li><a href="#footer">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>