<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real One FAQ</title>
    <%- include('inc/precons')%>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/main_max.css">
    <link rel="stylesheet" href="/stylesheets/faq.css">
</head>
<body>
<%- include('inc/header')%>
<section id="FAQ_main">
    <div id="inner_main">
        <%- include('inc/full_logo')%>
        <div id="top_main">
            <h2>Most asked questions:</h2>
            <p>If you haven't found answer for your question, you can <a href="#footer">contact
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-telephone" viewBox="0 0 16 16">
                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
                </svg>
            </a> us by email.
            </p>
        </div>
        <div id="faq_info">
            <div class="question__block q1">
                <h3 class="question">Can I freeze my membership?</h3><br>
                <p class="answer a1">You can freeze your membership in the Member Area for just £5 per
                    month.
                    Please note, if you freeze within 4 working days before your monthly payments is due, we may not be
                    able to
                    stop the direct debit.</p>
            </div>
            <div class="question__block q2">
                <h3 class="question">Are you still open 24/7?</h3><br>
                <p class="answer a2">The majority of our gyms are now 24/7 once more! That means any time
                    noon or night, you can find your fit.</p>
            </div>
            <div class="question__block q3">
                <h3 class="question">Will paper towels and sanitiser be available for members?</h3><br>
                <p class="answer a3">We have installed custom cleaning stations that provide both hand
                    sanitiser for all our members to use on
                    entry, as well as paper towels and sanitiser spray to clean the equipment after use.
                    We ask that all members use the cleaning product to clean the equipment to help reduce the risk of
                    any
                    illnesses being spread.</p>
            </div>
            <div class="question__block q4">
                <h3 class="question">How much is The Gym per month?</h3><br>
                <p class="answer a4">Our monthly price differs depending on which branch of Real One you
                    join and also which membership package
                    you wish to join on.</p>
            </div>
            <div class="question__block q5">
                <h3 class="question">Can I try before I buy?</h3><br>
                <p class="answer a5">We offer free Day Pass for one day.
                    You can write us, and you will be given the opportunity to experience The Gym before purchasing a
                    monthly
                    rolling membership.</p>
            </div>
            <div class="question__block q6">
                <h3 class="question">Can I try before I buy?</h3><br>
                <p class="answer a6" >We offer free Day Pass for one day.
                    You can write us, and you will be given the opportunity to experience The Gym before purchasing a
                    monthly
                    rolling membership.</p>
            </div>
            <div class="question__block q7">
                <h3 class="question">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h3><br>
                <p class="answer a7">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="question__block q8">
                <h3 class="question">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h3><br>
                <p class="answer a8">Donec imperdiet rutrum ipsum, sit amet interdum enim commodo id.
                    Maecenas condimentum convallis faucibus. Cras eleifend iaculis erat, ac varius tortor convallis quis.
                    Curabitur varius dictum metus et aliquet. Nulla facilisi. Fusce neque arcu, fermentum a dapibus ac, euismod lobortis turpis.
                    Sed interdum orci tincidunt, semper leo vitae, blandit nulla.</p>
            </div>
            <div class="question__block q9">
                <h3 class="question">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h3><br>
                <p class="answer a9">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
</section>
<%- include('inc/footer')%>
<script src="/javascripts/faq.js"></script>
</body>
</html>