<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('inc/precons')%>
    <link rel="stylesheet" href="/stylesheets/main_max.css">
    <link rel="stylesheet" href="/stylesheets/price.css">
    <meta charset="UTF-8">
    <title>Real One Prices</title>
</head>
<body>
<%- include('inc/header')%>
<section id="price_main" class="container">
    <div id="inner_main">
        <%- include('inc/full_logo.ejs')%>
        <div id="top_main">
            <h2>Pricing</h2>
            <p>Vivamus eget laoreet mauris. Fusce tincidunt in lacus vitae consequat. Sed viverra posuere est.
                In pharetra quam in erat vulputate rhoncus. Duis placerat neque sem, quis hendrerit ligula euismod eget.</p>
        </div>
        <div class="price__blocks">
            <div class="price_blk">
                <div class="price__header">
                    <span>Gold</span>
                </div>
                <div class=price__text>
                    <h3 class="black"><span>20$</span>/mo</h3>
                    <p class="black">Nunc sed ullamcorper erat. Integer vel odio id felis feugiat ultrices a id purus.
                        Vestibulum at nulla et lacus ornare tristique non nec lorem.</p>
                </div>
            </div>
            <div class="price_blk">
                <div class="price__header">
                    <span>Platinum</span>
                </div>
                <div class=price__text>
                    <h3 class="black"><span>30$</span>/mo</h3>
                    <p class="black">Nunc sed ullamcorper erat. Integer vel odio id felis feugiat ultrices a id purus.
                        Vestibulum at nulla et lacus ornare tristique non nec lorem.</p>
                </div>
            </div>
            <div class="price_blk">
                <div class="price__header">
                    <span>Diamond</span>
                </div>
                <div class=price__text>
                    <h3 class="black"><span>50$</span>/mo</h3>
                    <p class="black">Nunc sed ullamcorper erat. Integer vel odio id felis feugiat ultrices a id purus.
                        Vestibulum at nulla et lacus ornare tristique non nec lorem.</p>
                </div>
            </div>
        </div>
        <div class="price__menu__block container">
            <div id="compare">Comparison of memberships</div>
            <div class="price__menu">
                <div class="row odd">
                    <div class="col-2">
                        Types of membership
                    </div>
                    <div class="col rth">
                        Gold
                    </div>
                    <div class="col rth">
                        Platinum
                    </div>
                    <div class="col rth">
                        Diamond
                    </div>
                </div>
                <div class="row nodd">
                    <div class="col-2">
                        Lorem ipsum
                    </div>
                    <div class="col">
                        &#10003;
                    </div>
                    <div class="col">
                        &#10003;
                    </div>
                    <div class="col">
                        &#10003;
                    </div>
                </div>
                <div class="row odd">
                    <div class="col-2">Lorem ipsum</div>
                    <div class="col">
                        &#10003;</div>
                    <div class="col">
                        &#10003;</div>
                    <div class="col">
                        &#10003;</div>
                </div>
                <div class="row nodd">
                    <div class="col-2">Lorem ipsum</div>
                    <div class="col">
                    </div>
                    <div class="col">
                        &#10003;</div>
                    <div class="col">
                        &#10003;</div>
                </div>
                <div class="row odd">
                    <div class="col-2">Lorem ipsum</div>
                    <div class="col"></div>
                    <div class="col">
                        &#10003;</div>
                    <div class="col">
                        &#10003;</div>
                </div>
                <div class="row nodd">
                    <div class="col-2">Lorem ipsum</div>
                    <div class="col"></div>
                    <div class="col">
                        &#10003;</div>
                    <div class="col">
                        &#10003;</div>
                </div>
                <div class="row odd">
                    <div class="col-2">Lorem ipsum</div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col">
                        &#10003;</div>
                </div>
                <div class="row nodd">
                    <div class="col-2">Lorem ipsum</div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col">
                        &#10003;</div>
                </div>
                <div class="row odd">
                    <div class="col-2">Lorem ipsum</div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col">
                        &#10003;</div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('inc/footer')%>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>