<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real One Sale</title>
    <%- include('inc/precons')%>
    <link rel="stylesheet" href="/stylesheets/main_max.css">
    <link rel="stylesheet" href="/stylesheets/discount.css">
</head>
<body>
<%- include('inc/header')%>
<section id="sale_main">
    <div class="container">
        <%- include('inc/full_logo')%>
        <h1>How to get a discount</h1>
        <div class="discount__info__handler">
            <div class="discount__info">
                <img src="/images/referralnew.jpg" alt="referral">
                <p>Duis sollicitudin mattis rhoncus. Duis accumsan aliquam convallis. Aliquam ante ante, gravida sit
                    amet accumsan vitae, molestie a sapien. Maecenas ut augue risus.
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
            <div class="discount__info">
                <img src="/images/referralnew.jpg" alt="referral">
                <p>Duis sollicitudin mattis rhoncus. Duis accumsan aliquam convallis. Aliquam ante ante, gravida sit
                    amet accumsan vitae, molestie a sapien. Maecenas ut augue risus.
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
            <div class="discount__info last">
                <img src="/images/referralnew.jpg" alt="referral">
                <p>Duis sollicitudin mattis rhoncus. Duis accumsan aliquam convallis. Aliquam ante ante, gravida sit
                    amet accumsan vitae, molestie a sapien. Maecenas ut augue risus.
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
        </div>
    </div>
</section>
<%- include('inc/footer')%>
</body>
</html>